fieldset{
    margin-left: 40%;
    width: 400px;
}
form{
    margin-left: 25%;
}
header{
    margin-left: 50%;
}
.member{
    margin-left: 50%;
}
body{
    background-color:rgb(146, 160, 124);
}
p{
    margin-left: 20%;
    margin-bottom: 25%;
}
footer{
    text-align: center;
}
